* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image:url(./img/sky-7218043_1280.jpg);
  height:100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding:3rem 0rem;
 
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:hsla(0, 0%, 3%, 0.5);
  backdrop-filter: 20px;
  width: 400px;
  border: 3px solid gray;
  border-radius: 20px;
  margin: auto;
  padding: 2rem;
  gap: 2rem;
  color: white;
}

.search {
  background-color: rgb(236, 232, 232);

  display: flex;
  justify-content: center;
  border-radius: 40px;
}

.search input {
  background-color: rgb(236, 232, 232);
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 40px;
}

.search button {
  background-color: rgb(236, 232, 232);
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 40px;
  cursor: pointer;
}


.weather{

    text-align: center;
    font-size:larger;
    /* line-height: 2rem; */
    padding: 1rem;
    display: none;
}

.weather h1{
margin-top: 1rem;
    margin-bottom: 1rem;
    
}

.weather h2{
    margin-top: 1.4rem;



}

.detail{

    display: flex;
    justify-content: center;
    font-size: .8rem;
    /* line-height: 1rem; */
    align-items: center;
 margin-top: 1rem;
    gap: .3rem;
}

#description{

  margin-top: 2rem;
}


@media screen and (max-width:400px) {
  .container{
    width: 80%;
   
  }

  body{
    height:130vh;
  }

  .detail{
 margin: 1rem;
 width: 80%;
 gap: 0rem;
  }


  
  
}